@import '../../../styles/mixins';
.section {
	display: flex;
	width: 40px;
	background-color: rgb(50, 40, 40);
	height: 100vh;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    
	@media screen and (min-width: $tablet) {
		background-color: rgb(149, 87, 87);
		color: yellowgreen;
		
	}
	@media screen and (min-width: $desktop) {
		background-color: rgb(87, 78, 78);
		color: greenyellow;
		
	}
}


// .section {
// 	display: flex;
// 	width: 40px;
// 	background-color: rgb(50, 40, 40);
// 	height: 100vh;
//     padding-top: 10px;
    
// 	@media screen and (min-width: $tablet) {
// 		background-color: grey;
// 		color: yellowgreen;
// 		width: 60px;
// 	}
// 	@media screen and (min-width: $desktop) {
// 		background-color: rgb(87, 78, 78);
// 		color: greenyellow;
// 		width: 80px;
// 	}
// }
.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px
}
